@import "_variables";
@import "~react-bulma-components/src/index.sass";
@import "~@creativebulma/bulma-tooltip/src/sass/index.sass";

.navbar {
  .navbar-brand {
    padding-right: 1.2rem;
  }

  a.navbar-item {
    &.is-active {
      color: $link;
      font-weight: 500;
    }
  }

  .navbar-item {
    img {
      max-height: 4.75rem;
    }
  }

  a.navbar-item:focus,
  a.navbar-item:focus-within,
  a.navbar-item:hover,
  a.navbar-item.is-active,
  .navbar-link:focus,
  .navbar-link:focus-within,
  .navbar-link:hover,
  .navbar-link.is-active {
    background-color: #ffffff;
  }
}

.content-container {
  min-height: calc(100vh - 3.25rem - 2.6rem);
}

.footer {
  padding: 0.7rem 0;
  font-size: 0.8rem;

  // fix columns too wide on mobile (https://github.com/jgthms/bulma/issues/449)
  @media screen and (max-width: 1024px) {
      .columns {
          margin-left: 0;
          margin-right: 0;
      }
  }

  .item:not(:first-child) {
    padding-left: 1.5rem;
  }
}
