@font-face {
  font-family: 'Noten';
  src:
    url('./fonts/Noten.ttf?xmetxh') format('truetype'),
    url('./fonts/Noten.woff?xmetxh') format('woff'),
    url('./fonts/Noten.svg?xmetxh#Noten') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.musical-symbols {
  font-family: 'Noten' !important;
  font-size: 10rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  color: #141414;
  speak: never;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space: pre-line;
}
